<!DOCTYPE hxtml>
<html>
 <head>
<script>
	addEventListener("DOMContentLoaded", function() {
	  var commandButtons = document.querySelectorAll(".command");
	  for (var i=0, l=commandButtons.length; i<l; i++) {
	    var button = commandButtons[i];
	    button.addEventListener("click", function(e) {
	      e.preventDefault();

	      var clickedButton = e.target;
	      var command = clickedButton.value;
	      var request = new XMLHttpRequest();
	      request.onload = function() {
		  alert(request.responseText);
	      };
	      request.open("GET", "/" + command, true);
	      request.send();
	    });
	  }
	}, true);
	</script>



	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>


<body>
<title> Control mode </title>
<h1> Control mode </h1>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<div id="main">
	Escolha o robô e envie os comandos
	 <select>
	  <option class="command change-p1" value="p1">Pioneer   - p1</option>
	  <option class="command change-t1" value="t1">Turtlebot - t1 </option>
	  <option class="command change-t2" value="t2">Turtlebot - t2</option>
	</select> 

	<button class="command command-Stop" value="Stop">Stop </button>
	<button class="command command-Left" value="Left">Left </button>
	<button class="command command-Right" value="Right">Right </button>
	<button class="command command-Up" value="Up">Up </button>
	<button class="command command-Down" value="Down">Down </button>
</div>

</body>
</html>

