<!DOCTYPE html>
<html>
<!--script>

function refresh(node)
{
   var times = 500; // gap in Milli Seconds;

   (function startRefresh()
   {
      var address;
      if(node.src.indexOf('?')>-1)
       address = node.src.split('?')[0];
      else 
       address = node.src;
      node.src = address+"?time="+new Date().getTime();

      setTimeout(startRefresh,times);
   })();

}

window.onload = function()
{
  var node = document.getElementById('img');
  refresh(node);
  // you can refresh as many images you want just repeat above steps
}



</script-->
 <head>
</head>


<body>
<title> Controlo </title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div id="header">
	<h1>Monitor Mode</h1>
</div>

<img id="bg" src="{{url_for('video_feed')}}" alt="Monitor mode">

<!--img id="img"src="{{ url_for('static',filename="map.jpg")}}"   height="480px" width="500px"-->
</body>
</html>

